/* Left Sidebar & Overlay ====================== */
 
 .sidebar .menu {
      position: fixed;
    overflow-y: auto;
	    width: 230px;
		min-height: calc(690px * (90/150));
    height: 90vh; }
    .sidebar .menu .list {
      list-style: none;
      padding-left: 0; }
      .sidebar .menu .list li.active > :first-child span {
        font-weight: bold; }
      .sidebar .menu .list .header {
        background: #eee;
        font-size: 12px;
        font-weight: 600;
        padding: 8px 16px; }
      .sidebar .menu .list i.material-icons {
        margin-top: 4px; }
      .sidebar .menu .list .menu-toggle:after, .sidebar .menu .list .menu-toggle:before {
        position: absolute;
        top: calc(50% - 14px);
        right: 17px;
        font-size: 25px;
		font-weight:bold;
		color:#abc;
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .sidebar .menu .list .menu-toggle:before {
        content: '+';
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1); }
		.sidebar .menu .list .menu-toggle.minus:before {
        content: '-';
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1); }
      .sidebar .menu .list .menu-toggle:after {
        content: '\2013';
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0); }
      .sidebar .menu .list .menu-toggle.toggled:before {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0); }
      .sidebar .menu .list .menu-toggle.toggled:after {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1); }
      .sidebar .menu .list a {
        color: #747474;
        position: relative;
        display: inline-flex;
        vertical-align: middle;
        width: 100%;
        padding: 10px 13px; }
        .sidebar .menu .list a:hover, .sidebar .menu .list a:active, .sidebar .menu .list a:focus {
          text-decoration: none !important; }
        .sidebar .menu .list a small {
          position: absolute;
          top: calc(50% - 7.5px);
          right: 15px; }
        .sidebar .menu .list a span {
          margin: 7px 0 7px 12px;
          color: #d2d6de;;
          font-weight: bold;
          font-size: 14px;
          overflow: hidden; }
      .sidebar .menu .list .ml-menu {
        list-style: none;
        display: none;
        padding-left: 0; }
        .sidebar .menu .list .ml-menu span {
          font-weight: normal;
          font-size: 14px;
          margin: 3px 0 1px 6px; }
        .sidebar .menu .list .ml-menu li a {
          padding-left: 55px;
          padding-top: 7px;
          padding-bottom: 7px; }
		  .sidebar .menu .list .ml-menu li a:hover {
   color:#fff;
   
}
       .sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle) {
          font-weight: 600;
          margin-left: 5px; 
		  color:white}
          .sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
            content: '\E315';
            font-family: 'Material Icons';
            position: relative;
            font-size: 21px;
            height: 20px;
            top: -5px;
            right: 0px; }
        .sidebar .menu .list .ml-menu li .ml-menu li a {
          padding-left: 80px; }
        .sidebar .menu .list .ml-menu li .ml-menu .ml-menu li a {
          padding-left: 95px; }

.right-sidebar {
  width: 200px;
  height: calc(100vh - 70px);
  position: fixed;
  right: -300px;
  top: 70px;
  background: #fdfdfd;
  z-index: 11 !important;
  -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .right-sidebar.open {
    right: 0; }
  .right-sidebar .nav-tabs {
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    margin-left: 2px; }
    .right-sidebar .nav-tabs li {
      text-align: center; }
      .right-sidebar .nav-tabs li > a {
        margin-right: 0; }
      .right-sidebar .nav-tabs li:first-child {
        width: 45%; }
      .right-sidebar .nav-tabs li:last-child {
        width: 55%; }

/* Bootstrap Notify ============================ */
.bootstrap-notify-container {
  max-width: 320px;
  text-align: center; }

/* Jquery Nestable ============================= */
.dd-handle {
  background-color: #f9f9f9 !important; }
  .dd-handle:hover {
    color: #2196F3; }

.nestable-dark-theme .dd-handle {
  background: #ccc !important;
  border: 1px solid #999 !important; }

.dd3-handle {
  background: #999 !important; }

.dd3-content:hover {
  color: #2196F3; }

/* Login Page ================================== */
.login-page {
  background-color: #00BCD4;
  padding-left: 0;
  max-width: 360px;
  margin: 5% auto;
  overflow-x: hidden; }
  .login-page .login-box .msg {
    color: #555;
    margin-bottom: 30px;
    text-align: center; }
  .login-page .login-box a {
    font-size: 14px;
    text-decoration: none;
    color: #00BCD4; }
  .login-page .login-box .logo {
    margin-bottom: 20px; }
    .login-page .login-box .logo a {
      font-size: 36px;
      display: block;
      width: 100%;
      text-align: center;
      color: #fff; }
    .login-page .login-box .logo small {
      display: block;
      width: 100%;
      text-align: center;
      color: #fff;
      margin-top: -5px; }

/* Sign Up Page ================================ */
.signup-page {
  background-color: #00BCD4;
  padding-left: 0;
  max-width: 360px;
  margin: 5% auto;
  overflow-x: hidden; }
  .signup-page .signup-box .msg {
    color: #555;
    margin-bottom: 30px;
    text-align: center; }
  .signup-page .signup-box a {
    font-size: 14px;
    text-decoration: none;
    color: #00BCD4; }
  .signup-page .signup-box .logo {
    margin-bottom: 20px; }
    .signup-page .signup-box .logo a {
      font-size: 36px;
      display: block;
      width: 100%;
      text-align: center;
      color: #fff; }
    .signup-page .signup-box .logo small {
      display: block;
      width: 100%;
      text-align: center;
      color: #fff;
      margin-top: -5px; }

/* Forgot Password Page ======================== */
.fp-page {
  background-color: #00BCD4;
  padding-left: 0;
  max-width: 360px;
  margin: 5% auto;
  overflow-x: hidden; }
  .fp-page .fp-box .msg {
    color: #555;
    margin-bottom: 30px;
    text-align: center; }
  .fp-page .fp-box a {
    font-size: 14px;
    text-decoration: none;
    color: #00BCD4; }
  .fp-page .fp-box .logo {
    margin-bottom: 20px; }
    .fp-page .fp-box .logo a {
      font-size: 36px;
      display: block;
      width: 100%;
      text-align: center;
      color: #fff; }
    .fp-page .fp-box .logo small {
      display: block;
      width: 100%;
      text-align: center;
      color: #fff;
      margin-top: -5px; }

/* 404 Not Found Page ========================== */
.four-zero-four {
  width: 100%;
  text-align: center;
  margin: 5% auto; }
  .four-zero-four .four-zero-four-container .error-code {
    font-size: 160px; }
  .four-zero-four .four-zero-four-container .error-message {
    font-size: 26px;
    color: #333;
    font-weight: bold;
    margin-top: -40px; }
  .four-zero-four .four-zero-four-container .button-place {
    margin-top: 32px; }

/* 500 Server Error Page ======================= */
.five-zero-zero {
  width: 100%;
  text-align: center;
  margin: 5% auto; }
  .five-zero-zero .five-zero-zero-container .error-code {
    font-size: 160px; }
  .five-zero-zero .five-zero-zero-container .error-message {
    font-size: 27px;
    color: #333;
    font-weight: bold;
    margin-top: -40px; }
  .five-zero-zero .five-zero-zero-container .button-place {
    margin-top: 32px; }

/* Maps ======================================== */
/* Google Maps */
.gmap {
  width: 100%;
  height: 400px; }

/* jVector Map */
.jvector-map {
  width: 100%;
  height: 600px; }

/* Charts ====================================== */
/* Morris */
.morris-hover.morris-default-style {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

/* Flot */
.flot-chart {
  width: 100%;
  height: 320px; }

.panel-switch-btn {
  position: relative;
  right: 20px;
  z-index: 9; }
  .panel-switch-btn label {
    font-weight: bold !important; }

.legendLabel {
  width: 85px !important;
  position: relative;
  left: 3px; }

#multiple_axis_chart .legendLabel {
  width: 160px !important; }

/* Sparkline */
.sparkline {
  text-align: center; }

/* Searchbar =================================== */
.search-bar {
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 9999999;
  width: 100%;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s; }
  .search-bar.open {
    top: 0; }
  .search-bar .search-icon {
    position: absolute;
    top: 20px;
    left: 14px; }
    .search-bar .search-icon .material-icons {
      font-size: 32px;
      color: #999; }
  .search-bar .close-search {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    top: 16px;
    right: 18px; }
    .search-bar .close-search .material-icons {
      color: #999;
      opacity: 1;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      .search-bar .close-search .material-icons:hover {
        opacity: .5; }
  .search-bar input[type="text"] {
    width: 100%;
    font-size: 16px;
    padding: 25px 60px 23px 56px;
    border: none; }

/* Jquery DataTable ============================ */
.dataTables_wrapper {
  position: relative; }
  .dataTables_wrapper select {
    border: none;
    border-bottom: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none; }
    .dataTables_wrapper select:active, .dataTables_wrapper select:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }
  .dataTables_wrapper input[type="search"] {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: none;
    font-size: 12px;
    border-bottom: 1px solid #ddd; }
    .dataTables_wrapper input[type="search"]:focus, .dataTables_wrapper input[type="search"]:active {
      border-bottom: 2px solid #1f91f3; }
  .dataTables_wrapper .dt-buttons {
    float: left; }
    .dataTables_wrapper .dt-buttons a.dt-button {
      background-color: #607D8B;
      color: #fff;
      padding: 7px 12px;
      margin-right: 5px;
      text-decoration: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      border: none;
      font-size: 13px;
      outline: none; }
      .dataTables_wrapper .dt-buttons a.dt-button:active {
        opacity: 0.8; }

.dt-button-info {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 400px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-top: -100px;
  margin-left: -200px;
  z-index: 21; }
  .dt-button-info h2 {
    color: #777; }
  .dt-button-info div {
    color: #777;
    margin-bottom: 20px; }
/*    i#dash {
    color: white;
    margin-top: 10px;
}
 */